<%= form_for(@app) do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movie_name %><br />
    <%= f.text_field :movie_name %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :actor %><br />
    <%= f.text_field :actor %>
  </div>
  <div class="field">
    <%= f.label :actress %><br />
    <%= f.text_field :actress %>
  </div>
  <div class="field">
    <%= f.label :comedian %><br />
    <%= f.text_field :comedian %>
  </div>
  <div class="field">
    <%= f.label :director %><br />
    <%= f.text_field :director %>
  </div>
  <div class="field">
    <%= f.label :music %><br />
    <%= f.text_field :music %>
  </div>
  <div class="field">
    <%= f.label :director %><br />
    <%= f.text_field :director %>
  </div>
  <div class="field">
    <%= f.label :release_year %><br />
    <%= f.number_field :release_year %>
  </div>
  <div class="field">
    <%= f.label :release_month %><br />
    <%= f.number_field :release_month %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br />
    <%= f.date_select :release_date %>
  </div>
  <div class="field">
    <%= f.label :vote %><br />
    <%= f.number_field :vote %>
  </div>
  <div class="field">
    <%= f.label :average_vote %><br />
    <%= f.text_field :average_vote %>
  </div>
  <div class="field">
    <%= f.label :movie_image %><br />
    <%= f.text_field :movie_image %>
  </div>
  <div class="field">
    <%= f.label :reaction_gif %><br />
    <%= f.text_field :reaction_gif %>
  </div>
  <div class="field">
    <%= f.label :cc1 %><br />
    <%= f.text_field :cc1 %>
  </div>
  <div class="field">
    <%= f.label :cc2 %><br />
    <%= f.text_field :cc2 %>
  </div>
  <div class="field">
    <%= f.label :cc3 %><br />
    <%= f.text_field :cc3 %>
  </div>
  <div class="field">
    <%= f.label :cc4 %><br />
    <%= f.text_field :cc4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
