<h1>Listing apps</h1>

<table>
  <tr>
    <th>Movie name</th>
    <th>Language</th>
    <th>Picture</th>
    <th>Actor</th>
    <th>Actress</th>
    <th>Comedian</th>
    <th>Director</th>
    <th>Music</th>
    <th>Director</th>
    <th>Release year</th>
    <th>Release month</th><br>
    <th>Release date</th>
    <th>Vote</th>
    <th>Average vote</th>
    <th>Movie image</th>
    <th>Reaction gif</th>
    <th>Cc1</th>
    <th>Cc2</th>
    <th>Cc3</th>
    <th>Cc4</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apps.each do |app| %>
  <tr>
    <td><%= app.movie_name %></td>
    <td><%= app.language %></td>
    <td><%= app.picture %></td>
    <td><%= app.actor %></td>
    <td><%= app.actress %></td>
    <td><%= app.comedian %></td>
    <td><%= app.director %></td>
    <td><%= app.music %></td>
    <td><%= app.director %></td>
    <td><%= app.release_year %></td><br>
    <td><%= app.release_month %></td>
    <td><%= app.release_date %></td>
    <td><%= app.vote %></td>
    <td><%= app.average_vote %></td>
    <td><%= app.movie_image %></td>
    <td><%= app.reaction_gif %></td>
    <td><%= app.cc1 %></td>
    <td><%= app.cc2 %></td>
    <td><%= app.cc3 %></td>
    <td><%= app.cc4 %></td>
    <td><%= link_to 'Show', app %></td>
    <td><%= link_to 'Edit', edit_app_path(app) %></td>
    <td><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New App', new_app_path %>
