<p id="notice"><%= notice %></p>

<p>
  <b>Movie name:</b>
  <%= @app.movie_name %>
</p>

<p>
  <b>Language:</b>
  <%= @app.language %>
</p>

<p>
  <b>Picture:</b>
  <%= @app.picture %>
</p>

<p>
  <b>Actor:</b>
  <%= @app.actor %>
</p>

<p>
  <b>Actress:</b>
  <%= @app.actress %>
</p>

<p>
  <b>Comedian:</b>
  <%= @app.comedian %>
</p>

<p>
  <b>Director:</b>
  <%= @app.director %>
</p>

<p>
  <b>Music:</b>
  <%= @app.music %>
</p>

<p>
  <b>Director:</b>
  <%= @app.director %>
</p>

<p>
  <b>Release year:</b>
  <%= @app.release_year %>
</p>

<p>
  <b>Release month:</b>
  <%= @app.release_month %>
</p>

<p>
  <b>Release date:</b>
  <%= @app.release_date %>
</p>

<p>
  <b>Vote:</b>
  <%= @app.vote %>
</p>

<p>
  <b>Average vote:</b>
  <%= @app.average_vote %>
</p>

<p>
  <b>Movie image:</b>
  <%= @app.movie_image %>
</p>

<p>
  <b>Reaction gif:</b>
  <%= @app.reaction_gif %>
</p>

<p>
  <b>Cc1:</b>
  <%= @app.cc1 %>
</p>

<p>
  <b>Cc2:</b>
  <%= @app.cc2 %>
</p>

<p>
  <b>Cc3:</b>
  <%= @app.cc3 %>
</p>

<p>
  <b>Cc4:</b>
  <%= @app.cc4 %>
</p>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
